# __Series ve DatetimeIndex__

## __.__ Verileri datetime verileri ile oluşturma ve işleme

### __-__ 2015'in her iş gününü içeren bir DatetimeIndex oluşturarak rastgele sayı dizisine ekleyin:

> Pandas'da DatetimeIndex  __date_range(start="başlangıç tarihi",end="bitiş tarihi")__ şeklinde  oluşturulur.
<br>__freq__ parametresi ile hangi aralıklarla datanın oluşturulacağı seçilir:
<br> - D:(default) belirtilen tarihler arasında her gün oluşturulur. 2D : İkişer günlük artarak data oluşturulur. 10D: On günlük artarak data oluşturulur
<br> - M: Verilen tarihler arasındaki aylık data oluşturulur. Ayların başlangıç ve bitiş tarihleri oluşturulur. Aynı şekilde 2M,5M gibi değerler kullanılabilir
<br> - H: Verilen tarihler arasındaki günün her saati için data oluşturulur. 2H,20H v.b. kullanım yapılabilir
<br> - B: Business Day
daha detay için pandas docs'a bakılabilir

In [4]:
import pandas as pd
import numpy as np

dti= pd.date_range(start="2015-01-01", end="2015-12-31", freq="B")
print(dti)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

> pandas series oluşturalım. Amacımız Her tarihin sağında rastgele değerler elde etmek. Index tarihler olacak.
<br> Bunun için len(dti) ile dti boyutunu alırız ve random.rand ile bu kadar rastgele sayı üretiriz. index olarak dti veriyoruz

In [7]:
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2015-01-01    0.169668
2015-01-02    0.730255
2015-01-05    0.997762
2015-01-06    0.046054
2015-01-07    0.725642
2015-01-08    0.893907
2015-01-09    0.905446
2015-01-12    0.004481
2015-01-13    0.033814
2015-01-14    0.369301
2015-01-15    0.444876
2015-01-16    0.241704
2015-01-19    0.657745
2015-01-20    0.752536
2015-01-21    0.166723
2015-01-22    0.747604
2015-01-23    0.481473
2015-01-26    0.420797
2015-01-27    0.157699
2015-01-28    0.678941
2015-01-29    0.817892
2015-01-30    0.458431
2015-02-02    0.603222
2015-02-03    0.168238
2015-02-04    0.375279
2015-02-05    0.983078
2015-02-06    0.766457
2015-02-09    0.349110
2015-02-10    0.263362
2015-02-11    0.308436
                ...
2015-11-20    0.148757
2015-11-23    0.327295
2015-11-24    0.321310
2015-11-25    0.974311
2015-11-26    0.666809
2015-11-27    0.758436
2015-11-30    0.134621
2015-12-01    0.107079
2015-12-02    0.097229
2015-12-03    0.946777
2015-12-04    0.994302
2015-12-07    0.336360
2015-12-08    0.954517
2015-12-09    0.169395
2015-12-10    0.030165
2015-12-11    0.910379
2015-12-14    0.677378
2015-12-15    0.472499
2015-12-16    0.701713
2015-12-17    0.318512
2015-12-18    0.999616
2015-12-21    0.943692
2015-12-22    0.415780
2015-12-23    0.950791
2015-12-24    0.856104
2015-12-25    0.758809
2015-12-28    0.671169
2015-12-29    0.652407
2015-12-30    0.334365
2015-12-31    0.882146
Freq: B, Length: 261, dtype: float64

#### __1.__ Her Çarşamba için s cinsinden değerin toplamını bulalım:

> - __s.index.weekday == 2__ ( Pazartesi=0,Salı=1, Çarşamba=2) yapınca s içindeki tüm çarşambalar True değeri alır

In [10]:
s.index.weekday==2

array([False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False])

> - bu kodu s içerisine alırsak tüm True alanlar bize çarşamba değerlerini verir.

In [11]:
s[s.index.weekday==2]

2015-01-07    0.725642
2015-01-14    0.369301
2015-01-21    0.166723
2015-01-28    0.678941
2015-02-04    0.375279
2015-02-11    0.308436
2015-02-18    0.087033
2015-02-25    0.506525
2015-03-04    0.734331
2015-03-11    0.657327
2015-03-18    0.950491
2015-03-25    0.978468
2015-04-01    0.968180
2015-04-08    0.838955
2015-04-15    0.128309
2015-04-22    0.277615
2015-04-29    0.526830
2015-05-06    0.511791
2015-05-13    0.083145
2015-05-20    0.250642
2015-05-27    0.790590
2015-06-03    0.571177
2015-06-10    0.891927
2015-06-17    0.370694
2015-06-24    0.763000
2015-07-01    0.417139
2015-07-08    0.849186
2015-07-15    0.796975
2015-07-22    0.591929
2015-07-29    0.099379
2015-08-05    0.966504
2015-08-12    0.273487
2015-08-19    0.771869
2015-08-26    0.145631
2015-09-02    0.092526
2015-09-09    0.280777
2015-09-16    0.134984
2015-09-23    0.132201
2015-09-30    0.284488
2015-10-07    0.225461
2015-10-14    0.263137
2015-10-21    0.021693
2015-10-28    0.344077
2015-11-04    0.554821
2015-11-11    0.517652
2015-11-18    0.957710
2015-11-25    0.974311
2015-12-02    0.097229
2015-12-09    0.169395
2015-12-16    0.701713
2015-12-23    0.950791
2015-12-30    0.334365
dtype: float64

> sum() ile bu değerlerin toplamını buluruz

In [12]:
s[s.index.weekday==2].sum()

25.46077861008363

#### __2.__ Her takvim ayı için değerlerin ortalamasını bulalım:
> __resample()__ fonksiyonu ile yapabilriz: Bu fonksiyon ile biz s serisini günlük yaptık, aylığa çevir diyoruz. Aynı şekilde aylıkdan yıllığa çevirebiliridik. 
<br> mean() ile ortalama alırız

In [16]:
s.resample("M").mean()

2015-01-31    0.495580
2015-02-28    0.446792
2015-03-31    0.549632
2015-04-30    0.470555
2015-05-31    0.487712
2015-06-30    0.467376
2015-07-31    0.487389
2015-08-31    0.502079
2015-09-30    0.276541
2015-10-31    0.464045
2015-11-30    0.547567
2015-12-31    0.616573
Freq: M, dtype: float64

#### __3.__ Dört ardışık takvim ayının her grubu için en yüksek değeri bulalım
>Yani aylar 4'erli olarak gruplayacağız ve en yüksek değeri çekicez.
<br> _TimeGrouper("4M")_ ile 4 aylık gruplarız.
<br> _s.groupby(pd.TimeGrouper("4M")_ ile s serisini 4 aylık gruplamış oluruz
<br> idxmax() ile en büyük değeri döndürürüz

In [21]:
s[s.groupby(pd.TimeGrouper("4M")).idxmax()]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-05    0.997762
2015-02-12    0.990995
2015-07-06    0.997639
2015-12-18    0.999616
dtype: float64

In [22]:
s[s.groupby(pd.TimeGrouper("4M")).idxmin()]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-12    0.004481
2015-04-17    0.004029
2015-09-17    0.018650
2015-10-19    0.012816
dtype: float64

#### __4.__ Her ayın üçüncü perşembesinden oluşan bir DatetimeIndex oluşturalım(2015 ve 2016 yılları için)

In [23]:
pd.date_range(start="2015-01-01",end="2015-12-31", freq="WOM-3THU")

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17'],
              dtype='datetime64[ns]', freq='WOM-3THU')