In [1]:
import pandas as pd
import numpy as np

### Satırları Filtrelemek
__drop_duplicates(subset("_SutunAdı_")__

"A":[1,2,2,3,4,5,5,5,6,7,7,] Elimizde böyle bir sütun var. Amacımız bu sütunda aynı elemanı içeren satırları silmek. Yani her bir elemandan 1 tane kalsın.

In [3]:
df=pd.DataFrame({"A":[1,2,2,3,4,5,5,5,6,7,7,]})
df.drop_duplicates(subset="A")

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

### Satır öğeleriyle işlem yapmak

Elimizde sayısal değerlerden oluşan bir dataframe olsun(biz burada rastgele oluluşturalım). Satırdaki her öğeden satır ortalamasını çıkaralım

In [9]:
#5X3 lük float değerler içeren bir df oluşturuyoruz. random.random() bunun için kullanılıyor
#np.random.seeed(0) :Kaç defa rastgele sayı üretsin demek. 0 yaparak her çalıştırmada aynı random sayıları elde ederiz
df=pd.DataFrame(np.random.random(size=(5,3)))
print(df)

          0         1         2
0  0.903552  0.458195  0.434383
1  0.719233  0.274481  0.982601
2  0.650782  0.927234  0.284195
3  0.104679  0.392527  0.107294
4  0.908838  0.825959  0.886438

> __mean()__ ile dataframin ortalamasını alalım. axis değeri vermezsek default 0 kabul eder ve sütun ortalaması alır. axis=1 ise satır ortalaması alır

In [15]:
satır_ort=df.mean(axis=1)
print(satır_ort)

0    0.598710
1    0.658772
2    0.620737
3    0.201500
4    0.873745
dtype: float64

> Şimdi sub() fonksiyonu kullanarak çıkarma işlemi yapalım. Dikkat etmemiz gereken her bir satır için, satrdaki her değerden ortalamayı çıkarmamız isteniyor
<br>Burada da axis=0 kullanacağız ki satır_ort bir sütunluk bir data artık. DataFraemin her satrından satır_ort sütununun değerleri sırayla çıksın.

In [18]:
df.sub(satır_ort,axis=0)

          0         1         2
0  0.304842 -0.140515 -0.164327
1  0.060461 -0.384291  0.323829
2  0.030045  0.306497 -0.336542
3 -0.096821  0.191027 -0.094206
4  0.035093 -0.047786  0.012693

### Bir DataFrame'de en küçük toplamı içeren sütunu bulmak
idxmin() metodu ile

> Reel sayılarda 10 sütun içeren bir DataFrame olsun

In [42]:
df = pd.DataFrame(np.random.random(size=(5,10)),columns=list("abcdefghij"))
print(df)

          a         b         c         d         e         f         g  \
0  0.494656  0.944016  0.409508  0.459766  0.114651  0.423382  0.230332
1  0.259324  0.903089  0.471838  0.479406  0.172337  0.839149  0.893164
2  0.976247  0.775812  0.595851  0.494112  0.653462  0.501418  0.892387
3  0.999897  0.091666  0.570250  0.016988  0.756336  0.901348  0.242352
4  0.154693  0.167811  0.798440  0.580711  0.434630  0.341376  0.082723

          h         i         j
0  0.664482  0.330487  0.735249
1  0.088234  0.064765  0.390319
2  0.711075  0.697033  0.621928
3  0.652747  0.933564  0.657447
4  0.887264  0.719941  0.155633

> sum() metodu her sütunun toplamını döner

In [43]:
print(df.sum())

a    2.884818
b    2.882394
c    2.845887
d    2.030984
e    2.131415
f    3.006673
g    2.340958
h    3.003803
i    2.745790
j    2.560576
dtype: float64

> idxmin() bize bu sum sütununun en küçük değerinin indexini föner

In [44]:
print(df.sum().idxmin())

d

### Bir DataFrame'de aynı olmayan(benzersiz) satırları bulma

duplicated() , False /True döner ve her bir satrır benzersiz ise False, tekrar eden bir satır ise True döner

> df.dublicated(keep=Flase).sum() ile benzersiz satırları bulup kaç tane olduğunu döneriz. Burada 5 satırımız var ve birbiriyle eşleşen satır hiç yok. Bu yüzden 0 döner

In [45]:
print(df)

print(df.duplicated())
print(df.duplicated().sum())

          a         b         c         d         e         f         g  \
0  0.494656  0.944016  0.409508  0.459766  0.114651  0.423382  0.230332
1  0.259324  0.903089  0.471838  0.479406  0.172337  0.839149  0.893164
2  0.976247  0.775812  0.595851  0.494112  0.653462  0.501418  0.892387
3  0.999897  0.091666  0.570250  0.016988  0.756336  0.901348  0.242352
4  0.154693  0.167811  0.798440  0.580711  0.434630  0.341376  0.082723

          h         i         j
0  0.664482  0.330487  0.735249
1  0.088234  0.064765  0.390319
2  0.711075  0.697033  0.621928
3  0.652747  0.933564  0.657447
4  0.887264  0.719941  0.155633
0    False
1    False
2    False
3    False
4    False
dtype: bool
0

### Her satırda 5 NaN değeri olan bir DataFrame'in her satırı için 3. NaN değeri içeren sütunları bulma

> Veri setini oluşturalım
<br>random.random() ya da random.rand() kullanabiliriz.

In [53]:
df= pd.DataFrame(np.random.rand(10,10),columns=list("ABCDEFGHIJ"))
print(df)

          A         B         C         D         E         F         G  \
0  0.748759  0.665050  0.567850  0.976835  0.253567  0.884786  0.699721
1  0.976149  0.460446  0.010372  0.915619  0.929867  0.252537  0.584597
2  0.084368  0.566978  0.807687  0.983059  0.247697  0.227453  0.300048
3  0.568778  0.182987  0.944702  0.914322  0.555008  0.960038  0.779201
4  0.362082  0.833041  0.550703  0.277078  0.877514  0.814899  0.326344
5  0.074972  0.439108  0.631413  0.826469  0.359664  0.470627  0.992324
6  0.852190  0.344704  0.485607  0.261900  0.941877  0.194828  0.823136
7  0.953971  0.677245  0.745831  0.311080  0.094076  0.492338  0.106240
8  0.191440  0.788492  0.306544  0.365430  0.830453  0.169613  0.853314
9  0.070300  0.133906  0.688967  0.836282  0.207802  0.448455  0.105180

          H         I         J
0  0.409019  0.048826  0.733370
1  0.204135  0.321917  0.238384
2  0.178533  0.586335  0.995813
3  0.528712  0.941538  0.860205
4  0.938326  0.538369  0.174478
5  0.972809  0.022230  0.054397
6  0.392304  0.157725  0.678147
7  0.941060  0.662512  0.233306
8  0.119623  0.242406  0.408888
9  0.465097  0.195723  0.913421

> Her satırda 5 tane NaN değer olsun. 
<br>Bunun için for döngüsü kullanırız. Ayrıca 5 tane değeri random belirliceğiz(hangi hücrelerde NaN olacağı) bunuda random.choice(10,5,replace=False) ile yaparız. Bu satır 0'dan 10'a kadar sayılardan 5 tane oluşturur ve her biri ayrı değerde oluşturur.

In [54]:
for i in range(10): # satır değeri
    for eleman in np.random.choice(10,5,replace=False): # sütun değeri 5 tane farklı değer oluşturuyoruz. Böylece iloc[satır,sütun]= np.NaN ile NaN atıyoruz
        df.iloc[i,eleman]=np.NaN
print(df)

          A         B         C         D         E         F         G  \
0       NaN       NaN       NaN       NaN  0.253567  0.884786  0.699721
1       NaN       NaN  0.010372  0.915619  0.929867  0.252537       NaN
2  0.084368  0.566978       NaN  0.983059       NaN  0.227453       NaN
3       NaN       NaN       NaN  0.914322  0.555008  0.960038       NaN
4       NaN  0.833041  0.550703  0.277078  0.877514       NaN       NaN
5       NaN       NaN  0.631413  0.826469       NaN       NaN       NaN
6  0.852190  0.344704       NaN  0.261900       NaN       NaN       NaN
7  0.953971       NaN  0.745831       NaN       NaN       NaN  0.106240
8  0.191440       NaN       NaN       NaN  0.830453  0.169613  0.853314
9  0.070300       NaN  0.688967  0.836282  0.207802       NaN       NaN

          H         I         J
0  0.409019  0.048826       NaN
1       NaN       NaN  0.238384
2       NaN       NaN  0.995813
3       NaN  0.941538  0.860205
4       NaN       NaN  0.174478
5  0.972809  0.022230  0.054397
6  0.392304       NaN  0.678147
7       NaN  0.662512  0.233306
8       NaN       NaN  0.408888
9  0.465097       NaN       NaN

> Şimdi her satırda ki 3. NaN değerini bulan kodu yazalım
<br> .isnull() fonksiyonu NaN olanları True, NaN olmayanları False olarak dönen bir metottu. Bunu kullanabiliriz

In [57]:
df.isnull()

       A      B      C      D      E      F      G      H      I      J
0   True   True   True   True  False  False  False  False  False   True
1   True   True  False  False  False  False   True   True   True  False
2  False  False   True  False   True  False   True   True   True  False
3   True   True   True  False  False  False   True   True  False  False
4   True  False  False  False  False   True   True   True   True  False
5   True   True  False  False   True   True   True  False  False  False
6  False  False   True  False   True   True   True  False   True  False
7  False   True  False   True   True   True  False   True  False  False
8  False   True   True   True  False  False  False   True   True  False
9  False   True  False  False  False   True   True  False   True   True

>cumsum() ile kümülatif toplam alır. isnull().cumsum(axis=1) yaptığımızda satırlardaki NaN değerlerin küm toplamını elde ederiz. 3 değerinin ilk elde edildiği hücre 3. NaN değeri olur

In [59]:
df.isnull().cumsum(axis=1)

   A  B  C  D  E  F  G  H  I  J
0  1  2  3  4  4  4  4  4  4  5
1  1  2  2  2  2  2  3  4  5  5
2  0  0  1  1  2  2  3  4  5  5
3  1  2  3  3  3  3  4  5  5  5
4  1  1  1  1  1  2  3  4  5  5
5  1  2  2  2  3  4  5  5  5  5
6  0  0  1  1  2  3  4  4  5  5
7  0  1  1  2  3  4  4  5  5  5
8  0  1  2  3  3  3  3  4  5  5
9  0  1  1  1  1  2  3  3  4  5

>df.isnull().cumsum(axis=1) == 3 ile Satırları 3.NaN değerlerini elde ederiz. 3.NaN değerleri True, diğerleri False olacaktır

In [60]:
df.isnull().cumsum(axis=1) == 3

       A      B      C      D      E      F      G      H      I      J
0  False  False   True  False  False  False  False  False  False  False
1  False  False  False  False  False  False   True  False  False  False
2  False  False  False  False  False  False   True  False  False  False
3  False  False   True   True   True   True  False  False  False  False
4  False  False  False  False  False  False   True  False  False  False
5  False  False  False  False   True  False  False  False  False  False
6  False  False  False  False  False   True  False  False  False  False
7  False  False  False  False   True  False  False  False  False  False
8  False  False  False   True   True   True   True  False  False  False
9  False  False  False  False  False  False   True   True  False  False

> idxmax() ile Max değerin indexini buluruz. Böylece yapmak istedğimiz işlemi gerçekleştirmiş oluyoruz. axis=1 ise index değerleri gelir, 0 satır noları verirdi.
<br>( Burada True, False'dan büyüktür. Bu sebeple idxMax kullnaıyoruz. Eğer False'ları seçmek isteseydik idxmin() kullanırdık)

In [61]:
(df.isnull().cumsum(axis=1) == 3 ).idxmax(axis=1)

0    C
1    G
2    G
3    C
4    G
5    E
6    F
7    E
8    D
9    G
dtype: object

### Bir DataFrame bir drup "grps" sütununa ve "vais" sayı sütununa sahiptir. Her grup için en büyük üç değerin toplamını bulalım

> df'i oluşturalım

In [62]:
df= pd.DataFrame({"grps":list("aaabbcaabcccbbc"),
                 "vals":[12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df)

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

> Görüldüğü gibi gruplar karışık olarak sıralanmış. Bunları groupby ile istenen fonksiyona göre gruplayabiliriz.

In [75]:
df.groupby('grps').count()

      vals
grps
a        5
b        5
c        5

>Biz burada en büyük değerleri istiyorduj __nlargest()__ bize verdiğimiz parametre kadar grupdaki en büyük değerleri dönen bir fonksiyondur.
<br> Burada grubun içindeki "vals" değerlerinden 3'ünü seçiçez. 
<br>_df.groupby("grps")["vals"].nlargest(3)_

In [77]:
df.groupby("grps")["vals"].nlargest(3)

grps
a     1     345
      7      52
      0      12
b     12     57
      8      54
      4      45
c     10    235
      14     87
      9      23
Name: vals, dtype: int64

>Bunların değerlerini .sum() ile toplamını buluruz. Ancak her grup için ayrı ayrı toplam bulacağımızdan : sum(level=0) yazmalıyız. Aksi takdirde tamamın toplamını alacaktır

In [82]:
df.groupby("grps")["vals"].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

### İki Tamsayı sütununa sahip bir DataFrame'de A sütunu sıralı 1 ile 100(dahil) sayıları arasındadır, B sütunu ise random değerler almaktadır. A sütunun 10'arlı gruplara karşılık gelen B grup değerlerinin toplamını hesaplayalım

> DataFrame'i oluşturalım.
<br>A sütunu sıralı olduğundan _np.arange(100)+1_ ile  1-100 arası oluştururuz
<br>B sütunu ise rastgele sayılardan 0-10 arası 100 tane oluşturulacak. Tamsayı olacak. Bu sebeple _np.random.random(0,10,size=100)_ ile B sütununu oluştururuz

In [90]:
df=0
df=pd.DataFrame(
{
    "A":np.arange(100)+1,
    "B":np.random.randint(0,10,size=100)
})
print(df)

      A  B
0     1  5
1     2  0
2     3  3
3     4  7
4     5  4
5     6  8
6     7  2
7     8  2
8     9  2
9    10  9
10   11  5
11   12  8
12   13  2
13   14  0
14   15  4
15   16  8
16   17  5
17   18  7
18   19  9
19   20  8
20   21  1
21   22  4
22   23  7
23   24  3
24   25  3
25   26  9
26   27  2
27   28  9
28   29  9
29   30  7
..  ... ..
70   71  6
71   72  9
72   73  1
73   74  2
74   75  1
75   76  4
76   77  3
77   78  2
78   79  4
79   80  5
80   81  5
81   82  6
82   83  0
83   84  1
84   85  5
85   86  3
86   87  2
87   88  7
88   89  2
89   90  9
90   91  8
91   92  9
92   93  8
93   94  7
94   95  6
95   96  0
96   97  5
97   98  3
98   99  6
99  100  2

[100 rows x 2 columns]

>cut() ile gruplama yapabiliriz. _cut(df["A"],np.arange(1,101,10))_ ile A sütununu 0-100 arasında 10'arlı grup yapıyoruz.

In [95]:
pd.cut(df['A'],np.arange(0,101,10))

0       (0, 10]
1       (0, 10]
2       (0, 10]
3       (0, 10]
4       (0, 10]
5       (0, 10]
6       (0, 10]
7       (0, 10]
8       (0, 10]
9       (0, 10]
10     (10, 20]
11     (10, 20]
12     (10, 20]
13     (10, 20]
14     (10, 20]
15     (10, 20]
16     (10, 20]
17     (10, 20]
18     (10, 20]
19     (10, 20]
20     (20, 30]
21     (20, 30]
22     (20, 30]
23     (20, 30]
24     (20, 30]
25     (20, 30]
26     (20, 30]
27     (20, 30]
28     (20, 30]
29     (20, 30]
        ...
70     (70, 80]
71     (70, 80]
72     (70, 80]
73     (70, 80]
74     (70, 80]
75     (70, 80]
76     (70, 80]
77     (70, 80]
78     (70, 80]
79     (70, 80]
80     (80, 90]
81     (80, 90]
82     (80, 90]
83     (80, 90]
84     (80, 90]
85     (80, 90]
86     (80, 90]
87     (80, 90]
88     (80, 90]
89     (80, 90]
90    (90, 100]
91    (90, 100]
92    (90, 100]
93    (90, 100]
94    (90, 100]
95    (90, 100]
96    (90, 100]
97    (90, 100]
98    (90, 100]
99    (90, 100]
Name: A, Length: 100, dtype: category
Categories (10, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] ... (60, 70] < (70, 80] < (80, 90] < (90, 100]]

> gruopby().sum() ile gruplanmış verilerin toplamını alabiliyorduk

In [96]:
df.groupby(pd.cut(df['A'],np.arange(0,101,10)))["B"].sum()

A
(0, 10]      42
(10, 20]     56
(20, 30]     54
(30, 40]     41
(40, 50]     51
(50, 60]     30
(60, 70]     61
(70, 80]     37
(80, 90]     40
(90, 100]    54
Name: B, dtype: int32