# __Pandas Temeller__

## 1. Pandası içe aktarma

In [2]:
import pandas as pd

## 2. Pandas versiyon kontrolü

In [3]:
pd.__version__

'0.24.2'

## 3. Pandas kütüphanesi tarafından gerekli olan kütüphanelerin tüm sürüm bilgileri

In [7]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.24.2
pytest: 4.3.1
pip: 19.0.3
setuptools: 40.8.0
Cython: 0.29.6
numpy: 1.16.2
scipy: 1.2.1
pyarrow: None
xarray: None
IPython: 7.4.0
sphinx: 1.8.5
patsy: 0.5.1
dateutil: 2.8.0
pytz: 2018.9
blosc: None
bottleneck: 1.2.1
tables: 3.5.1
numexpr: 2.6.9
feather: None
matplotlib: 3.0.3
openpyxl: 2.6.1
xlrd: 1.2.0
xlwt: 1.3.0
xlsxwriter: 1.1.5
lxml.etree: 4.3.2
bs4: 4.7.1
html5lib: 1.0.1
sqlalchemy: 1.3.1
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

# __DataFrame Basics__

DataFrame aslında bir excel tablosunun karşılığıdır.

## 1. Veri Seçme, Sıralama, Toplama ve Birleştirme

### -numpy her zaman kullanacağımız bir kütüphane onu mutlaka içeri aktarıyoruz ayrıca pandası da aktarıyoruz

In [9]:
import numpy as np

In [10]:
import pandas as pd

### -data: Python dict , labels: bir Python list.

In [119]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

> Bu veriler hayvanların veterinere gittiğini ve gitmesinin zorunluluk yada kontrol amaçlı olduğunun bilgisini tutan rastgele oluşturduğumuz verilerdir.

### - index'i labels'dan alan ve veri'yi data'dan alan bir DataFrame oluşturuyoruz:

In [120]:
df=pd.DataFrame(data,index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

> <div class="alert alert-block alert-info">
<b>Index:</b> Biz index verileri sayesinde verilere ulaşabiliyoruz. excel'de matris mantığında a1,b2 gibi verilere erişim mümkün. pandas ise a.animal,c.visits... gibi ifadelerle verilere ulaşımı mümkün kılıyor. Bu sebeple index oluştururken verilerle bağıntılı label'lar kullanmamız, verilere erişim  için kolaylık sağlayacaktır.<p>Eğer index verilmez ise pandas 0'dan başlayacak şekilde index atar.
</div>

### -DataFrame ve verileriyle ilgili özet bilgileri görüntüleyelim:

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

> Özet bilgilerde; index ve sütunlara ait bilgiler, hücrelerin obje türlerini görüyoruz

### -Dataframein ilk 3 satırını döndürelim:

> __iloc fonskiyonu__: Dataframe ait belirttiğimiz satırları seçmemizi sağlar. List tipinde parametre alır. Örneğin [1:4] ile 1,2,3 ve 4. satırlar gösterilir ya da [:3] ile ilk 3 satır gösterirlir. Bu sebeple iloc daha kullanılır bir fonksiyondur.

> __head fonksiyonu__ : girilen parametre değerine kadar satırları seçmemizi sağlar. (2) ilk 2 satır, (4) ilk 4 satır seçer

In [93]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [94]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### - Dataframede istenilen sütunları gösterme

> __loc fonksiyonu__ : İstenilen sütunları seçmemizi sağlar. iloc gibi list tipinde kullanımı vardır. loc ile ayrıca satır seçimide gerçekleştirilebilir. bu sebeple iloc'dan daha kapsamlıdır.<br/>Örneğin age sütununu seçmek istersek: <br/>df.loc [:,"animal"] yazmamız gerekecektir. <br/>Burada ilk parametre satırlar, ikicisi sütunlardır.

df.loc[:,"animal"]

> Eğer belirli satırları seçmek istersek satıra ait label bilgisini kullanmamız gerekir.<br/>Örneğin c:h satırlarını ve animal ile visits sütunlarını göstermek isteyelim.<br/>_df.loc["c":"h",["animal","visits"]]_ ifadesi ile bunu gerçekleştirebiliriz. <br/> Başka bir örnek ele alalım: <br/>_df.loc[:"h",["animal"]]_ ile a:h satırlarını ve animal sütununu seçeriz.

In [95]:
df.loc["c":"h",["animal","visits"]]

  animal  visits
c  snake       2
d    dog       3
e    dog       2
f    cat       3
g  snake       1
h    cat       1

In [96]:
df.loc[:"h",["animal"]]

  animal
a    cat
b    cat
c  snake
d    dog
e    dog
f    cat
g  snake
h    cat

> __index[]__ : index ile satır etiketini bilmediğimiz durumlarda,verilen satır numaralarının etiketlerini öğrenmek için kullanırız.<br/> Örneğin 3,4 ve 8. satırların etiketleri öğrenmek istedğimizi varsayalım:

In [42]:
df.index[[3,4,8]]

Index(['d', 'e', 'i'], dtype='object')

> Görüldüğü gibi 3:d,4:e,8:i etiketlerine karşılık geliyormuş.<br> Şimdi biz bu satırları ve istedğimiz sütunları loc[] fonksiyonu içinde kullanarak istediğimiz seçimi yapabiliriz.

In [97]:
df.loc[df.index[[3,4,8]],["animal","visits"]]

  animal  visits
d    dog       3
e    dog       2
i    dog       2

> Burada 3,4 ve 8 nolu indexlere karşılık gelen d,e ve i satırlarına ve ikinci parametre belirttiğimiz sütunlara ait verileri seçmiş olduk

### -Koşul vererek seçim yapma

Tanımladığımız dataframe içerisinde koşul ifadeleri kullanarak da seçim yapabiliriz.Örneğin; visits değeri 2 den küçük verileri seçmek istersek:<br/>df[df["visits"]<2] yazmamız yeterli olacaktır.

In [98]:
df[df["visits"]<2]

  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

Bu codu şöyle açıklayabiliriz:<br/>df["visits"] ile index ve "visits" sütunları seçilir

In [99]:
df["visits"]

a    1
b    3
c    2
d    3
e    2
f    3
g    1
h    1
i    2
j    1
Name: visits, dtype: int64

 df[visits]<2 ile "visits" sütununda değeri 2'den küçük olan satırlar True, büyük olan satırlar False değeri alır

In [100]:
df["visits"]<2

a     True
b    False
c    False
d    False
e    False
f    False
g     True
h     True
i    False
j     True
Name: visits, dtype: bool

bu veriyi tekrar df[] içerisinde kullanırsak, sadece True olanlar gelecektir.

In [101]:
df[df["visits"]<2]

  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

#### Age verilerinin eksik olduğu(NaN) verileri seçelim

In [102]:
df[df["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### Hayvanın kedi ve yaşının 3'ten az olduğu verileri seçelim<br/> 
*Not: df["animal]="cat şeklinde bir yazım tüm animal sütununu "cat" yapacaktır.

In [103]:
df[(df["animal"]=="cat") & (df["age"]<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### Yaşın 2 ve 4 arasında (4 dahil) olduğu satırları seçelim

In [104]:
df[df["age"].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

#### f satırındaki yaş değerini 1.5 olarak değiştirelim

In [105]:
df.loc["f","age"]=1.5
print(df["age"])

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    1.5
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

#### Tüm ziyaretlerin toplam sayısını bulalım

In [106]:
df["visits"].sum()

19

#### Her bir farklı hayvanın ortalama yaşını hesaplayalım. 
Bu işlem için groupby ile istedğimiz sütundaki verileri grupluyoruz. Yanına grupladığımız verilerin ne işlem yapacağımızı ekliyoruz.

In [107]:
df.groupby("animal")["age"].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

Eğer hayvanları gruplayarak diğer sütunların ortlamasını isteseydik df.groupby("animal").mean() yazardık

In [108]:
df.groupby("animal").mean()

             age  visits
animal
cat     2.333333     2.0
dog     5.000000     2.0
snake   2.500000     1.5

Görüldüğü gibi animal'ı grupladı ve age ve visits için ortalamayı verdi.

#### DataFrame'e yeni bir satrı ekleyelim
Burada k indexinde bir satır oluşturuyoruz. Sıralamada k geldiği için biz oyle verdik. Burada k yerine ne yazarsak satır indexi o olacaktır. Daha sonre = ile sütun değerlerini verdik. Tabiiki İlgili sütan göre doğu nesne türü vermeliyiz. Yoksa hata alırız.

In [109]:
df.loc["k"]=["snake",2,3,"yes"]
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k  snake  2.0       3      yes

#### DataFrame'de satırı silelim

Burada unutulmaması gereken nokta işlemi df'e eşitlemektir. df.drop() df'e eşitlenmezse "k" satırı df'de kalacaktır.

In [110]:
df=df.drop("k")
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### Bir sütundaki verileri sayma
Animal sütunundaki hayvan türlerini sayalım. Bunun için __value_counts()__ metodu kullanılır

In [111]:
df["animal"].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

### Bir sütunu sıralama
Sıralama için __sort_values()__ fonksiyonu kullanılır. 
<br>Parametre olarak:
by=[sütunlar]
ascending = False,True
<br/>ascending=False: Azalan sıraylar sıralar,
<br/>ascending=True: Artan sırayla sıralar.

df'in "age" sütununa göre azalan sırayla sıralayalım

In [112]:
df.sort_values(by="age",ascending=False)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

df'in "visit" sütununa göre artan sırayla sıralayalım

In [113]:
df.sort_values(by="visits", ascending=True)

  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no

Şimdi kombineli bir sıralama yapalım. "animal" sütunu artan, "age" sütunu da artan bir sıralamayla gitsin. 
<br> Burada ilk olarak ilk parametre olarak girilen "animal" sütununa göre sıralama yapılır. Daha sonra "animal" sütunun da aynı olan değerler, ikinci parametre olan "age" sütununa göre sıralanır. Eğer bir üçüncü parametre olarak "visits" sütunu verseydik, "age" sütununda aynı olan değerleri "visits"e göre sıralardı..

In [114]:
df.sort_values(by=["animal","age"], ascending=[True,True])

  animal  age  visits priority
f    cat  1.5       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
h    cat  NaN       1      yes
j    dog  3.0       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
c  snake  0.5       2       no
g  snake  4.5       1       no

### Bir sütunun içeriğini değiştirmek
Burada "priority" sütununun yes/no olan string tipindeki değerlerini True/False olacak şekilde değiştirelim.
<br> - df["priprity"] ile sütunu seçiyoruz,
<br> - df["priprity"].map ile sütunu bir map'e dönütürüyoruz,
<br> - df["priprity"].map({"yes":True,"no":False}) ile sütunda "yes" olan değerleri True, "no" olan değerleri false yapıyoruz

In [115]:
df["priority"].map({"yes":True,"no":False})

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

Ancak bu değeri df'e eşitlemediğimiz için df'de "priority" sütunu hala yes/no olarak görülür. Dikkat _df=df["priority"].map({"yes":True,"no":False})_  yaparsak df tamamen değişir. Biz _df["priority"] = df["priority"].map({"yes":True,"no":False})yapmalaıyız

In [121]:
df["priority"] = df["priority"].map({"yes":True,"no":False})
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

"animal" sütununda snake girişlerini python olarak değişelim.

In [118]:
df["animal"] = df["animal"].map({"snake":"python"})
print(df)

   animal  age  visits  priority
a     NaN  2.5       1      True
b     NaN  3.0       3      True
c  python  0.5       2     False
d     NaN  NaN       3      True
e     NaN  5.0       2     False
f     NaN  1.5       3     False
g  python  4.5       1     False
h     NaN  NaN       1      True
i     NaN  7.0       2     False
j     NaN  3.0       1     False

Görüldüğü gibi bu yöntemde, belirtilmeyen diğer tüm girişler NaN oluyor. Tüm hücreleri değilde sadece istedğimiz verileri değişmek istedğimizde __map()__ değil __replace()__ fonskiyonu kullanılmalıdır.

In [128]:
df["animal"] = df["animal"].replace("snake","python")
print(df)

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  2.0       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

### Pivot Tablo kullanarak bir sorguyu karşılamak
Burada; Her bir hayvan türü ve her bir ziyaret için ortalama yaşı bulalım. Satır: animal, sütun: visits ve değerler:age olacak.

In [129]:
df.pivot_table(index="animal", columns="visits", values="age")

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

> Bu haliyle istediğimiz pivottable'ı oluşturduk. __aggfunc__ parametresi vermezsek, default olarak __mean__ değeri alır. Aslında yazım şu şekilde olmalıydı:
<br>_df.pivot_table(index="animal",columns="visits",values="age",aggfunc="count")_.
<br>Ortlama dışında parametreler vererek istedğimiz table oluşturabiliriz.

In [134]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc="mean")

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

> fill_value ile NaN değerler doldurulabilir.

In [140]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc="mean",fill_value=0)

visits    1    2    3
animal
cat     2.5  0.0  2.5
dog     3.0  6.0  0.0
python  4.5  0.5  0.0

> "mean","sum","count" gibi değerler yerine numpy fonksiyonları kullanılabilir. np.mean, np.sum gibi.

In [141]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc=np.mean,fill_value=0)

visits    1    2    3
animal
cat     2.5  0.0  2.5
dog     3.0  6.0  0.0
python  4.5  0.5  0.0

> Birden fazla values verilip farklı gösterimler aynı anda sunulabilir
<br> Burada age değerlerini ortlamaya göre, priority değerlerini saymaya göre gösteren bir pivot  table oluşturalım

In [146]:
df.pivot_table(index="animal",columns="visits",values=["age","priority"],aggfunc={"age":np.mean,"priority":"count"},fill_value=0)

        age           priority
visits    1    2    3        1  2  3
animal
cat     2.5  0.0  2.5        2  0  2
dog     3.0  6.0  0.0        1  2  1
python  4.5  0.5  0.0        1  1  0

> Bunun yanısıra bir values'e  ait birden çok aggfunc verilebilir.

In [147]:
df.pivot_table(index="animal",columns="visits",values="age",aggfunc=[np.mean,"min","max","count",np.sum],fill_value=0)

       mean            min          max         count        sum
visits    1    2    3    1    2  3    1    2  3     1  2  3    1     2  3
animal
cat     2.5  0.0  2.5  2.5  0.0  2  2.5  0.0  3     1  0  2  2.5   0.0  5
dog     3.0  6.0  0.0  3.0  5.0  0  3.0  7.0  0     1  2  0  3.0  12.0  0
python  4.5  0.5  0.0  4.5  0.5  0  4.5  0.5  0     1  1  0  4.5   0.5  0